#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#main {
  display: flex;
  min-height: 100%;
  column-gap: 50px;
}
#information {
  flex: 1;
}
#preview {
  background-color: #191d1f;
  padding: 40px;
  flex: 1;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
